<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <object th:include="fragments/head :: head" th:remove="tag"></object>
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <object th:include="fragments/nav :: nav"/>
        <object th:include="fragments/livestats :: livestats(${data})"/>
        <div class="wrap-login100">
            <span class="login100-form-title p-b-34 p-t-15 m-b-15">Users</span>
            <!--<span th:text="*{user.id}"></span>-->
            <table class="table table-hover text-white">
                <colgroup>
                    <col style="width: 50%">
                    <col style="width: 50%">
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Username</th>
                </tr>
                </thead>
                <tbody>
                <tr class="clickable" th:each="user, itemStat : *{users}" th:onclick="|window.location.href='@{/users/details/{id}/(id=*{users[__${itemStat.index}__].id})}'|">
                    <th scope="row" th:text="*{users[__${itemStat.index}__].id}"></th>
                    <td th:text="*{users[__${itemStat.index}__].username}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>