<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<object th:fragment="nav">
    <ul class="wrap-nav-parent">
        <li class="wrap-nav animated slideInUp delay-ps1-25s" th:onclick="|window.location.href='@{/users}'|">Users</li>
        <li class="wrap-nav animated slideInUp delay-ps1-50s" th:onclick="|window.location.href='@{/fines}'|">Fines</li>
        <li class="wrap-nav animated slideInUp delay-ps1-75s" th:onclick="|window.location.href='@{/settings}'|">Settings</li>
    </ul>
</object>
<body>
</body>
</html>